.footer-info { opacity: .8; }

.footer-about-info, .contact-news-info,
.footer-menu-items, .footer-copyright,
input[type="text"] { font-size: rem(14px); }

.footer-menu-items a:hover { text-decoration: none; }
.footer-copyright { letter-spacing: .1em; }

