/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03 15, 18, 8:57:13 PM
    Author     : Labbos
*/

.parallax { 
    /* The image used */
    background-image: url("url(/dist/images/f-p3.jpg)");
    /* Set a specific height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}