.about {

    .about-info { 
    }

    .about-main {  z-index: 2; }

    .about-title {    
        color: $gray-1;
        padding: em(45px) 0 em(10px) 0;       
    }

    .display-4 {
        font-family: $font-montserrat;
        font-size: rem(25px);
        letter-spacing: .09em;
    } 

    .fas {
        color: $gray-1;
        font-size: 1.25em;
        text-align: center;
        padding-bottom: em(30px);
    }
    .btn { margin: em(30px); }

    .img-container {
        background-image:url(/dist/images/f-p5.jpg);
        /*linear-gradient(rgba(16, 16, 16, 0.5),rgba(31, 27, 29, 0.5)),*/ 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        color: $orange;
        margin: 0 auto;
        height: 60vh;
        width: 80%;
    }
}

.section { padding-bottom: em(128px); }

