label.error {
    color: green;
    font-size: rem(11px);
    text-align: left;
    padding-top: 5px;    
}

#success_message, #error_message { 
    font-size: rem(12px); 
    text-align: right;
    margin-left: em(15px);
}

.contact {
    font-weight: bold;
    margin-bottom: -5px;

    .contact-title {
        padding: em(5px) 0 em(15px) 0;
        color: $green-1;
    }

    .fas { 
        color: $blue-4;
        font-size: em(20px); 
    }

    .contact-intro {
        color: #3f4c6b;
        padding: em(15px) 0 em(5px);
    }   

    .contact-details-address {
        background-color: $gray-1;
    }

    .contact-form {
        position: absolute;
        top: 60px;
        left: 45px;

        @include media-breakpoint-only(xs) { 
            left: 2px; 
        }

        @include media-breakpoint-only(sm) { 
            left: 1px; }
    }

    .form-control {
        background-color: transparent;
        border: 1px solid $green-1; 
    }
    .contact-details {
        opacity: .85;
        position: absolute;
        right: 142px;
        text-align: center;        
        top: 168px;


        @include media-breakpoint-only(xs) {
            right: 0;
            top: 600px;
        }

        @include media-breakpoint-only(sm) {
            right: 0;
            top: 600px;
        }

        @include media-breakpoint-only(md) {
            right: 25px;
            top: 139px;
        }

        @include media-breakpoint-only(lg) {
            right: 25px;
            top: 139px;
        }

        @include media-breakpoint-only(xl) {
            right: 40px;
            top: 139px;
        }
    }

    address, p { 
        font-size: rem(14px);
        font-weight: normal;
        letter-spacing: .1em;
        line-height: 1.5;
        margin-bottom: em(15px);
        text-align: center;
    }

    textarea { height: rem(60px); }

    .social-links { margin-top: -159px; }

    @each $social-links in (
    linkedin-in #0D84C8,
    google-plus-g #E8654C,
    facebook-f #537CBE
    ) {
        .fa-#{ nth($social-links, 1) } {
            background:#{ nth($social-links, 2) };
            border-radius: 50%;
            color: white;
            line-height: 30px;
            margin: 0 236px 15px 0;
            height: 30px;
            width: 30px;
        }
    }

    a:hover { opacity:.7; }


    .contact-address-title { 
        color: $blue-3;
        padding-top: em(35px); 
        padding-bottom: em(20px);

        @include media-breakpoint-only(xs) { 
            margin-left: -40px;
        }
    }

    @media (min-width: 320px) and (max-width: 370px) { 
        iframe {
            height: 150vh !important;
        }
    }

    @include media-breakpoint-only(xs) { 
        iframe {
            height: 130vh;
        }

        .contact p { text-align: center;
                     padding-left: 0; }
    }

    @include media-breakpoint-only(sm) { 
        iframe {
            height: 120vh;
        }
    }

    @include media-breakpoint-only(md) {
        .col-md-3 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 25%;
            flex: 0 0 45%;
            max-width: 46%;
        }
    }

    @include media-breakpoint-only(lg) {
        .col-md-3 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 25%;
            flex: 0 0 40%;
            max-width: 40%;
        }

        address { 
            padding-left: 0;
            text-align: center; }
    }

    @include media-breakpoint-only(xl) {
        .col-md-3 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 40%;
            flex: 0 0 40%;
            max-width: 40%;
        }

        address { 
            padding-left: 0;
            text-align: center; }
    }


}
.callout {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f4c6b+0,3f4c6b+100;Blue+Grey+Flat */
    background: rgb(63,76,107); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(63,76,107,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */

    color: $white-1;
    margin-bottom: -1px;
}

.callout-message { 
    font-size: rem(13px); 
    font-family: $font-montserrat;
    letter-spacing: .3em;

    @include media-breakpoint-only(xs) { font-size: rem(11px); }
}

.section.contact { padding-bottom: 0; }

