/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03 13, 18, 8:05:33 PM
    Author     : Romart
*/
.hero {
    padding-top: em(170px);
}
.border-double {
    height: 25em;
    margin: 0 auto;
    width: 80%;
    border: 5px solid $green-1;
}

.display-3 { font-size: 3.5rem; }

.hero-title {
    margin: .8em 0;
    letter-spacing: .12em;
}
.hero-slogan {
    font-family: $font-pac;
    font-size: rem(25px);
    margin-top: em(-20px);
    padding-bottom: em(50px);
}