.services {

    .services-main-title {  
        color: $gray-1;
        padding: rem(20px) 0; 
    }   

    .fas { 
        color: $blue-4;
        font-size: em(20px); 
    }
}

.featured {

    margin: em(30px) 0;

    .card-1 { transition: all 3s ease-in-out; }
    .card { 
        cursor: pointer;
        border-width: 0 none;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
        transition: all 3s ease-in-out;

        &:hover { 
            transition: .3 ease-in; 
            box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),
                0 6px 20px 0 rgba(0,0,0,0.19); 
            transition: box-shadow 0.3s ease-in-out;
        }

        &:hover .card-title {
            color: $green-1;
            display: block;
            font-weight: bold; 
            left: 143px;
            position: absolute;
            transition: box-shadow 0.1s ease-in-out;
            top: 126px;  
        }

        &:hover .card-img-top { 
            opacity: .9; }  
    }

    .card-img-top {
        padding-top: em(20px);
        width: 60%;
        text-align: center;
        margin: 0 auto;
    }

    .card-title { 
        display: none;
    }

    .card-text { padding: em(15px); }

    .card-block {
        .btn { margin-top: em(10px); }
        a:hover, a:focus { 
            text-decoration: none;  
            border: 1px solid #007bff;
        }

    }
}