.main {
    .navbar-brand {  margin-left: 108px; }

    .fixed-top {  top: em(30px); }

    .navbar-collapse {  margin-right: 103px;     }

    .navbar-toggler:active, 
        .navbar-toggler:focus {
        border: 0 none;
        outline: 0 none;
    }
    .navbar-toggler-icon {
        /*background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=08c1f3');*/
        background-image: url(../images/nav-icon.svg);
        color: $blue-1;
        width: 1.3em;
        height: 1.3em;
        opacity: .7;

        &:hover { opacity: 1; }
    }
    .nav-item {

        margin-right: em(20px);
        a {
            text-transform: uppercase;
            font-size: .8rem;
        }
    }

    .nav-item:last-child { margin-right: 7px; }


    .btn img { margin-bottom: -1px; }

    .navbar-nav li.active a {
        border-bottom: 1px solid $blue-1;
        color: $blue-1 !important;
        margin-bottom: -1px;
        width: 100%;
    }

    .navbar-expand-lg .navbar-nav .nav-link { 
        color: $white-1;
        padding-left: 0;
        padding-right: 0;

    }

    .nav-item:last-child {

        margin-left: em(10px);

        .form-control { 
            background-color: transparent; 

            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: $white-1;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color: $white-1;
            }
            &:-ms-input-placeholder { /* IE 10+ */
                color: $white-1;
            }
            &:-moz-placeholder { /* Firefox 18- */
                color: $white-1;
            }
        }

    }
    input[type="text"] { font-size: rem(12px); }


    @include media-breakpoint-only(xs) { 
        .navbar-brand { 
            margin-left: 0; 
            padding-top: em(10px);
        }

        .fixed-top { top: em(48px); }

        .navbar-collapse { margin-right: 0; }  

        .navbar-nav li.active a { border-bottom: 0; }

        .search-xs { display: none !important; }

        .navbar-nav { padding-bottom: 200%; }
    }

    @include media-breakpoint-only(sm) { 
        .navbar-brand { 
            margin-left: 0; 
            padding-top: em(10px);
        }
        .fixed-top { top: 40px !important; }

        .navbar-nav li.active a { border-bottom: 0; }

        .nav-item { margin-bottom: em(15px); }

        .navbar-collapse { margin-right: 0; }  

        .search-sm { display: none !important; }

        .navbar-nav { padding-bottom: 200%; }
    }

    @include media-breakpoint-only(md) { 
        .nav-item { margin-bottom: em(18px); }

        .navbar-brand { margin-left: 0; }

        .navbar-collapse { margin-right: 0; }  

        .search-sm { display: none !important; }

        .navbar-nav { padding-bottom: 200%; }
    }

    @include media-breakpoint-only(lg) { 
        .navbar-brand { margin-left: 70px; }

        .navbar-collapse { margin-right: 69px; }
    }

}