.navbar-brand { margin-left: 108px; }
.navbar-collapse { margin-right: 103px; }
.nav-link { color: $white-1; }
.nav-item {
    .btn { top: -2px;} 

    a {
        margin-left: 2.5em;
        text-transform: uppercase;
        font-size: .8rem;


    }
}
.navbar-nav li a:hover,
.navbar-nav li.active a {
    background-color: $gray-1;
    color: $blue-1 !important;
    width: 100%;
}


/*.md-form {
    margin: auto em(-40px) auto 2em;
    height: auto;
    width: 50%;

    &:focus { 
        border: 0 none;
        outline: 0 none; }
}*/
